
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>黄橙广告pc端</title>
    <link rel="stylesheet" href="../plugins/fullpage/jquery.fullPage.css">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script src="../plugins/fullpage/jquery.fullPage.min.js"></script>
    <script src="http://cdn.staticfile.org/jquery-easing/1.3/jquery.easing.min.js"></script>

</head>
<body>
<div class="navigation">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>
<div class="nav">
    <span>菜单</span>
    <ul class="nav_list" id="myMenu1">
        <li data-menuanchor="section1"><i class="arrar"></i><a href="#section1">发现精彩</a></li>
        <li data-menuanchor="section2"><i class="arrar"></i><a href="#section2">黄橙故事</a></li>
        <li data-menuanchor="section3" style="display: none;"><i class="arrar"></i><a href="#section3">发现精彩</a></li>
        <li data-menuanchor="section4" style="display: none;"><i class="arrar"></i><a href="#section4">发现精彩</a></li>
        <li data-menuanchor="section5" style="display: none;"><i class="arrar"></i><a href="#section5">发现精彩</a></li>
        <li data-menuanchor="section6" style="display: none;"><i class="arrar"></i><a href="#section6">发现精彩</a></li>
        <li data-menuanchor="section7"><i class="arrar"></i><a href="#section7">联系我们</a></li>
    </ul>
</div>
<div id="dowebok" class="list">
    <!--第一页-->
    <div class="section section1">
        <div class="content">
            <div class="work_left">
                <p>工作 /</p>
                <p>案例</p>
                <p>黄橙案例分享</p>
            </div>
        </div>
    </div>
    <!--第二页-->
    <div class="section section2">
        <div class="left_top left_top3">
            <div class="left_top_con">
                <span class="left_top_con_shu4"></span>
                <div class="left_top_con_wenzi4" style="color: #7a7a7a;">
                    <p>黄 橙 案 例</p>
                    <p style="font-size:10px;margin-top: 5px;">our progect</p>
                </div>
            </div>
        </div>
        <div class="list_section2_bottom">
           <div class="list_section2">
                <div class="wenzi">
                    <p>项目</p>
                    <p>简介</p>
                </div>
           </div>
            <div class="wenzi_bottom">
                <p>借力奥运号召人们进行一场走心又走肾的运动社交</p>
                <p>在他们上班的地方组一场竞赛性质的“运动局”</p>
                <p>同时解决时空的限制以及运动兴趣缺乏的挑战</p>
            </div>
        </div>
    </div>
    <!--第三页-->
    <div class="section section3">
        <div class="left_top left_top3">
            <div class="left_top_con">
                <span class="left_top_con_shu5"></span>
                <div class="left_top_con_wenzi5" style="color: #7a7a7a;">
                    <p>黄 橙 案 例</p>
                    <p style="font-size:10px;margin-top: 5px;">our progect</p>
                </div>
            </div>
        </div>
        <div class="list_section3_bottom">
            <div class="list_wai">
                <div class="list_section3">
                    <div class="wenzi">
                        <p>项 目 背 景</p>
                    </div>
                </div>
                <div class="summary1">
                    <span></span>
                    <p>可口可乐中国时刻关注着中国环境的可持续发展与国人健康状态。作为一款群聚型欢畅饮料可口可乐中国孵化出了一个运动公益品牌IP——“好友运动局”。</p>
                    <p>在2016年的里约奥运会里可口可乐</p>
                    <p>中国决定再次利用“好友运动局”做一场</p>
                    <p>关于健康的可持续性发展的</p>
                    <p>社会公益活动。    </p>
                </div>
            </div>
        </div>
    </div>
    <!--第四页-->
    <div class="section section4">
        <div class="left_top left_top3">
            <div class="left_top_con">
                <span class="left_top_con_shu6"></span>
                <div class="left_top_con_wenzi6" style="color: #7a7a7a;">
                    <p>黄 橙 案 例</p>
                    <p style="font-size:10px;margin-top: 5px;">our progect</p>
                </div>
            </div>
        </div>
        <div class="list_section4_bottom">
            <div  class="list_wai">
                <div class="list_section4">
                    <div class="right"></div>
                </div>
                <div class="summary2">
                    <span></span>
                    <p>可口可乐中国时刻关注着中国环境的可持续发展与国人健康状态。作为一款群聚型欢畅饮料可口可乐中国孵化出了一个运动公益品牌IP——“好友运动局”。</p>
                    <p>在2016年的里约奥运会里可口可乐</p>
                    <p>中国决定再次利用“好友运动局”做一场</p>
                    <p>关于健康的可持续性发展的</p>
                    <p>社会公益活动。    </p>
                </div>
            </div>

        </div>
    </div>
    <!--第五页-->
    <div class="section section5">
        <div class="left_top left_top3">
            <div class="left_top_con">
                <span class="left_top_con_shu7"></span>
                <div class="left_top_con_wenzi7" style="color: #7a7a7a;">
                    <p>黄 橙 案 例</p>
                    <p style="font-size:10px;margin-top: 5px;">our progect</p>
                </div>
            </div>
        </div>
        <div class="list_section5_bottom">
            <div class="list_wai">
                <div class="list_section5">
                    <div class="wenzi">挑战</div>
                </div>
                <div class="summary3">
                    <span></span>
                    <p>可口可乐中国时刻关注着中国环境的可持续发展与国人健康状态。作为一款群聚型欢畅饮料可口可乐中国孵化出了一个运动公益品牌IP——“好友运动局”。</p>
                    <p>在2016年的里约奥运会里可口可乐</p>
                    <p>中国决定再次利用“好友运动局”做一场</p>
                    <p>关于健康的可持续性发展的</p>
                    <p>社会公益活动。    </p>
                </div>
            </div>


        </div>

    </div>
    <!--第六屏-->
    <div class="section section6">
        <div class="left_top left_top3">
            <div class="left_top_con">
                <span class="left_top_con_shu8"></span>
                <div class="left_top_con_wenzi8" style="color: #7a7a7a;">
                    <p>黄 橙 案 例</p>
                    <p style="font-size:10px;margin-top: 5px;">our progect</p>
                </div>
            </div>
        </div>
        <div class="list_section6_bottom">
            <div class="list_section6">
                <ul class="list_top">
                    <li>
                        <a href="#">
                          <img src="../static/img/list1/list_6.png">
                          <img src="../static/img/list1/list_7.png">
                        </a>
                    </li>
                    <li><a href="#">第二个图片</a></li>
                    <li><a href="#">第三个图片</a></li>
                    <li><a href="#">第四个图片</a></li>
                    <li><a href="#">第五个图片</a></li>
                </ul>
                <span class="preve">
                    <p>上一个</p>
                    <p>正大集团－腊么好</p>
                </span>
                <span class="next">
                    <p>下一个</p>
                    <p>中粮集团－泰米</p>
                </span>
            </div>
        </div>
    </div>
    <!--第七屏-->
    <div class="section section7">
        <div class="left_top left_top3">
            <div class="left_top_con">
                <span class="left_top_con_shu6"></span>
                <div class="left_top_con_wenzi6" style="color: #000;">
                    <p>联 系 我 们</p>
                    <p style="font-size:10px;margin-top: 5px;">our progect</p>
                </div>
            </div>
        </div>
        <div class="section6_bottom">
            <div class="content">
                <p class="title">快速联系</p>
                <p>我们可以通过</p>
                <p>电子邮件，电话或者微信提供吧快速响应</p>
                <span class="line_top"></span>
                <div class="content_con">
                    <div class="left">
                        <div class="tubiao tubiao_one"></div>
                        <div class="bottom">
                            <p>查询商业信息</p>
                            <p>xxxxxxxx@orange.com</p>
                        </div>
                    </div>
                    <div class="center">
                        <div class="tubiao tubiao_two"></div>
                        <div class="bottom">
                            <p>请致电</p>
                            <p>010-8888888</p>
                        </div>
                    </div>
                    <div class="right">
                        <div class="tubiao tubiao_three"></div>
                        <div class="bottom">
                            <p>我们的wecat</p>
                            <p>XXXXXXXXX</p>
                        </div>
                    </div>
                </div>
                <span class="line-bottom"></span>
                <div class="share_bottom">
                    <div class="jianru_b"></div>
                    <div class="jianru_b"></div>
                    <div class="jianru_t"></div>
                    <div class="jianru_b"></div>
                </div>
                <div class="orange_bottom">
                    <span></span>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../static/js/fullpage_list.js"></script>
</body>
</html>